<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OHRM_Modular_FrameWork/src/com/ohrm/testscripts/Tc_002_AddEmployee.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ohrm.testscripts.Tc_002_AddEmployee"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OHRM_Modular_FrameWork"/>
</launchConfiguration>
